#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Error {
  color: black;
  font-weight: bold;
  background: red;
}

.loginForm {
  background: lightpink;
  place-items: center;
}

.registerForm {
  background: lightpink;
  place-items: center;
}