.comment {
    border: purple solid 1px;
    padding-left: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.comment .userName {
    font-size: large;
    font-weight: 500;
    width: fit-content;
    border-bottom: purple 1px solid;
}

.commentsList {
    height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.commentDate {
    position: relative;
    text-align: right;
    right: 10px;
    font-style: italic;
    font-size: 12px;
}

.commentOptions {
    position: absolute;
}