.header {
    background: pink;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 95vw;
    height: 11vh;
    text-align: left;
    padding-left: 5vw;
    color: purple;
    display: grid;
    grid-template-columns: max-content auto auto;
}

.header img {
    width: 100px;
}

.header button {
    background: purple;
    margin: auto 10vh auto auto;
    font-size: 25px;
    width: fit-content;
    position: relative;


}