.postList {

    width: 40vw;
    margin: auto;
    position: relative;
    margin-top: 0px;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.selectedPost {
    position: relative;
    border: 1px solid black;
    padding-left: 20px;
    margin-top: 50px;
    border-radius: 10px;
}

.homePage {

    display: grid;
    grid-template-columns: 20vw 50vw 25vw;
    position: fixed;
    left: 0px;
    top: 150px;
    text-align: left;
}

.postListItem {
    border: 1px solid black;
    padding-left: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.authorName {
    color: purple;
    font-size: 20px;
    font-weight: 600;
}

.postTitle {
    position: relative;
    bottom: 10px;
    color: purple;
    font-size: 20px;
}

.postContent {
    position: relative;
    bottom: 10px;
}

.newPost {
    display: grid;
    position: relative;
    border: 1px solid purple;
    text-align: center;
    padding: 0px 20px;
    margin-top: 50px;
    border-radius: 10px;
    width: 22vw;
}




.options {
    border: solid 1px black;
    background: white;
    z-index: 1;
    position: absolute;
    top: 50px;
    width: 100px;
    right: 0px;

}

.optionButton {
    position: relative;
    right: 0px;
    bottom: 60px;
    text-align: center;
    width: 40px;
    margin-right: 3px;
    margin-left: auto;
}