.postList {

    width: 500px;
    position: relative;
    top: 50px;
    height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.selectedPost {
    position: relative;
    border: 1px solid black;
    padding-left: 20px;
    margin-top: 50px;
}

.homePage {

    display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
    left: 0px;
    top: 100px;
    text-align: left;
}

.postListItem {
    border: 1px solid black;
    padding-left: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.authorName {
    color: purple;
    font-size: 20px;
    font-weight: 600;
}

.postTitle {
    position: relative;
    bottom: 10px;
    color: purple;
    font-size: 20px;
}

.postContent {
    position: relative;
    bottom: 10px;
}

.newPost {
    display: grid;
    border: 1px solid purple;
    text-align: center;
    padding: 0px 30px;
    width: fit-content;
}